body {
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-weight: bold;
}
h2 {
    font-style: italic;
    text-decoration: underline;
}
.display-area {
    display: flex;
    align-items: baseline;
    width: 99%;
    height: 100px;
}
.entity {
    width: 10px;
    /* height: 300px;
    background-color: hsl(1, 70%, 50%); */
    border: solid 1px #000;
}
